# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Ruff
.ruff_cache/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# VS Code
.vscode/

# JetBrains
.idea/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Build
dist/
build/

# Alembic cache
*.sqlite3